*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 80px; */
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.navlinks{
    display: flex;
    gap: 30px;
}
.links {
   display: flex;
   gap: 10px;
   list-style: none;
}
.links a{
    display: block;
  color: #03040b;
    
  text-decoration: none;
}
.icon{
    font-size: 12px;
   /* padding-right: 20px; */
    color: #0d0d11;
    cursor: pointer;
}

.content{
    /* max-width: 100%; */
    background-image: url('https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbiUyMG1vZGVsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60 ');
    background-size: cover;
    color:white;
    text-align: center;
    padding: 150px 20px;
    overflow: hidden;
}
.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

.cart{
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.cart img{
    width:100px;
    height: 100px;
    border-radius:5px;
}
.footer{
    background-color: #03040b;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
   @media screen and (max-width: 600px) {
    body{
        background-color: #e0e0e0;
    }
.content{
padding: 70px 10px;
background-position: center;
}
    .navbar {
        flex-direction: column;   /* mobile рдорд╛ better */
        align-items: flex-start;
        font-size: 10px;
        height: auto;
    }

    .navlinks {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .links {
        display: none;
    }

    .footer {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }   
}